# ignore all raw data files (CSV and TSV)
*.csv
*.tsv
# ignore specific data folders
data/
save/
EXP000/

# ignore compiled python files
__pycache__/
*.py[cod]
*$py.class

# ignore VS Code or PyCharm local settings
.vscode/
.idea/
